name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-package:
    name: Build Package
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.11

      - name: Setup Poetry
        uses: threeal/setup-poetry-action@v1.2.0

      - name: Cache Dependencies
        id: cache-deps
        uses: actions/cache@v5.0.1
        with:
          key: poetry-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}
          path: .venv

      - name: Install Dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: poetry install --with dev

      - name: Build Package
        run: poetry build
